
@media screen and (max-width: 768px)
{
    * {
        font-family: Avenir, sans-serif;
        border: 2px solid black;
        border-radius: 26px;
        margin: 2px;

    }
    
    body {
        background-color: azure;
        

    }
    section {
        margin-top: 10px;
        width: 100%;
        background-color: aquamarine;
       

    }
    div {
        margin: 5px auto;
        width:80% ;
        height: 100px;
        background-color: chocolate;
    }
    ul {
        text-align: center;
    }
    footer,
    .header{
        background-color: gray;
    }
    .img {
        width:120px;
        height: 120px;
        text-align: left;
    }
    
}





