
    * {
        font-family: Avenir, sans-serif;
        border: 2px solid rgb(71, 69, 69);
        border-radius: 12px;
         margin: 2px; 

    }

    body {
        background-color: azure;


    }
    section {
        margin-top: 10px;
        
        background-color: aquamarine;


    }
    div {
        margin: 15px auto;
        width:80% ;
        height: 100px;
        background-color: chocolate;
    }
    ul {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

    footer{

    }
    footer,
    .header{
        background-color: gray;
        display: flex;
        justify-content: space-around;
    }

    .header {
        text-align: left;
        
    }
    .img {
        width:170px;
        height: 170px;
        margin-left: 55px;
    }


