
    * {
        font-family: Avenir, sans-serif;
       /*  border: 2px solid rgb(71, 69, 69); */
        border-radius: 12px;
         margin: 2px; 

    }

    body {
        background-color: azure;


    }
    section {
        margin-top: 10px;
        padding: 3px;
        background-color: rgb(223, 204, 235);


    }
    div {
        margin: 15px auto;
        width:80% ;
        height: 100px;
        background-color: rgb(155, 184, 185);
    }
    ul {
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        list-style: none;
        align-items: flex-end;
        margin-right: 10%;
        color: yellow;
    }  
    li {
        margin-left: 15px;
    } 
    footer{
        padding-left: 15px;
    }
    footer > div{
        width: 20%;

    }
    footer,
    .header{
        background-color: gray;
        display: flex;
        justify-content: space-around;
    }

    .header {
        text-align: left;
        
    }
    .img {
        width:170px;
        height: 170px;
        margin-left: 10%;
    }


